<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piffb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentQRCode"></activity>
        <activity android:name=".DonorPaymentDetails" />
        <activity android:name=".DonorTopupMoney">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".DonorRegister" />
        <activity android:name=".DonorLogin" />
        <activity android:name=".DonorHome" />
        <activity android:name=".StudentRegister" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".StudentHome" />
        <activity android:name=".StudentGuardianDetails" />
        <activity android:name=".StudentHouseholdDetails" />
        <activity android:name=".StudentPersonalDetails" />
    </application>

</manifest>